*{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background-color: #222;
    color: white;
}

.row {
    /*border: 2px solid red;*/
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 20px auto;
}

.row div {
    /*border: 2px solid blue;*/
}

div {
    box-sizing: border-box;
    /*min-height: 150px;*/

}

.col {
    flex-grow: 1;
    max-width: 100%;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.btn {
    background-color: #2196F3;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    outline: none;
  }

.menu{
    background-color: cadetblue;    
    /*height: 30px;*/
}

.menu ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    align-content: space-between;
    justify-content: space-between;
    margin: auto;
}

.menu ul li{
    padding: 15px;
    text-align: center;
    margin: auto;  
}

.menu ul li a{
    text-decoration: none;
    align-content: space-between;
    justify-content: space-between;
    color: black;
    padding: 15px;  
}

.menu ul li a:hover{
    color: white;
}

.optionsBar{
    background-color: aqua;
    margin: auto;
    border-radius: 15px;
}

.optionsBar input[type='button']{
    width:60px;
    height: 60px;
    background-color: red;
}

#optionsBar{
    margin-top: 0px;
}

#subOptionsBar{
    margin-bottom: 5px;
}

.tableRow4{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    height: 50%;
}

.tableRow5{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    height: 33%;
}

.tableRow1{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
}

.tableCol{
    overflow: hidden;
}

#btn-Preview-Image{
    height: 30px;
    font-size: 20px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*display: block;*/
    border: solid 1px black;
}

#imageView,#scraper,#imageView3,#imageView2,#imageView5,#imageView1{
    position: relative;
    top: 25px;
    left: 320px;
    width:500px; 
    height:500px; 
    background-color: white; 
    /* margin: auto; */
    overflow: hidden;
}

/*imageView4 btns*/
#imageView #colBtn1{
    position: absolute;
    top: 18%;
    left: 45%;
}

#imageView #colBtn2{
    position: absolute;
    top: 68%;
    left: 44.6%;
}

#imageView #rowBtn{
    position: absolute;
    display: block;
    top: 46%;
    left: 18%;
}

/*imageView3 btns*/
#imageView3 #colBtn1{
    position: absolute;
    top: 74%;
    left:45%;
}

#imageView3 #rowBtn1{
    position: absolute;
    top: 45.6%;
    left: 30%;
}

/*imageView2 btns*/
#imageView2 #rowBtn1{
    position: absolute;
    top: 45.6%;
    left: 45.6%;
}

/*imageView5 btns*/
#imageView5 #colBtn1{
    position: absolute;
    top: 16%;
    left:45%;
}

#imageView5 #colBtn2{
    position: absolute;
    top: 74%;
    left:45%;
}

#imageView5 #rowBtn1{
    position: absolute;
    top: 30%;
    left: 30%;
}

#imageView5 #rowBtn2{
    position: absolute;
    top: 62%;
    left: 64%;
}

/*---------------------------------------------------*/


.designbtn{
    background-color:firebrick;
    border-style: hidden;
    border-radius: 5px;
    box-shadow: 2px 2px 4px white
}

.featuresfont{
    color: white;
    font-size: 20px
}
.styleIcone {
  font-size:25px;
    color: white;
}
button:not(.btn){
    width: 90px;
    height: 100%;
    margin:auto;
}
.multiredbar,.singleBar{
    position: absolute;
    top:760px;
    height: 110px;
    width: 100%;
    background-color: firebrick;
    border: 2px solid black;
    box-sizing: border-box;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

  
}


.singleBar{
  align-content: center;
    
}

.AllFilters{
    position: absolute;
    top:650px;
    display: none;
    flex-direction: row;
    box-sizing: border-box;
    margin: auto;
    height: 110px;
    width: 100%;
    

}
#none,#brightness,#grayscale,#blur,#hue-rotate,#opacity,#contrast,#sepia,#invert,#contrast-brightness,#drop-shadow,#saturate{
width: 75px;
   /* margin: 10px;*/
    flex-grow: 1;
}

#none,#brightness,#grayscale,#blur,#hue-rotate,#opacity,#contrast,#sepia,#invert,#contrast-brightness,#drop-shadow,#saturate:hover{
cursor: pointer;
}




.multiBlack{
    
     position: absolute;
    top:760px;
    height: 110px;
    width: 100%;
    background-color: #008080 ;
   /* border: 2px solid red;*/
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
     margin: 10px auto;

}
.multiBlack .designbtn{
        background-color:#008080!important;
        box-shadow: 3px 3px 2px white;


}
.multiBlack .featuresfont{
color:white;
}
.multiBlack .styleIcone {
    color:white !important;
}
.multiBlack Button{
    
    width: 110px;
}
.ratioBar{
    position: absolute;
    background-color: #E9967A;
    width: 100%;
    top:595px;
    height: 100px;
    text-align: center;
    align-content: space-between;
    border-radius: 6px;
    margin: 10px auto;
  /*  display:none;*/

    
    
    
    
    
}
.ratioBar Button{
        font-weight: bold;
        font-size:20px ;
        width: 90px;   
       text-align: center;
        background-color: #E9967A;
       color: white;
        box-shadow: 3px 3px 2px white;
    border-radius: 5px;

    

}
.backgroundColorBar {
   /* display: none;*/
    position: absolute;
    top:650px;
background-color:azure;
    height:110px;
    width: 100%;
    
}
.backgroundColorBar Button{
    width: 45px;
}
.allRange{
    position: absolute;
    width: 100%;
    top:645px;
    text-align: center;
}
.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 25px;
  background: #d3d3d3;
  opacity: 0.5;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 30px;
  background: Indigo;
  cursor: pointer;
}
.layout,.background,.space,.blurr,.ratio,.text:hover{
    cursor: pointer;
}
.allImageFilterRange{
    position: absolute;
    width: 100%;
    top:560px;
    text-align: center;
    z-index: 9999;
}

.reverseimg{
    transform: scale(-1,-1);
}
#test{
    position:relative;
}
.imgborder{
    position: absolute;
    height: 500px;
    width: 700px;
    border: 2px solid red;
    
}


.textbar{
    position: absolute;
    top:300px;
    left: 600px;
    border: 2px solid antiquewhite;
    text-align: center;
    box-shadow: 3px 3px 3px grey;
    background-color: darksalmon;
    z-index: 999999;
        
}

.output{
    position: absolute;
 /*   border: 2px solid red;*/
    box-sizing: border-box;
    top:197px;
    left:250px;
    z-index: 99999;
    text-align: center;
    
}

.scraper{
position: absolute;
 border: 2px solid black;
 top:50px;
 left: 500px;
 height: 500px;
 width:40%;
    
}
#inputScraperImg1,#inputScraperImg2,#inputScraperImg3,#inputScraperImg4{
 position: absolute;
                    
}

#imageContainer img:hover
{
    border:2px solid red;
    cursor: pointer;
}

.filter,.rotateleft,.rotateright,.fill,.reverse,.vertical,.zoomin,.zoomout,.left,.right,.up,.down,.delete1,.swap:hover{
    cursor: pointer;
}

#btn-Convert-Html2Image,
#btn-Preview-Image { color: lavenderblush !important;
                     font-family: Elephant !important;
                     font-size: 25px;
                     text-decoration: none;
                     margin: 15px;
                     background-color: #222;
}

/*----------------------------------------------------*/
#header  { background-color: rgb(255,035,104);
    color: lavenderblush;
    font-size: 30px;
    font-family: jokerman;
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
#AboutUs:hover,
#Home:hover,
#Contacts:hover { box-shadow: 0px 0px 200px white;
           font-size: 45px;
           border-radius: 17px;
           padding: 6px; 
           cursor: pointer; 
         }

         #JANlogo { width: 230px;
            height: 120px;
            position: absolute;
            left: 5px;
            top: -8px;
            border: none !important; 
          }
 h6 { font-family: Elephant;
      color: lavenderblush;
      position: absolute;
    }
 #PhotoEditor { position: absolute;
    top: 30px;
    left: 250px;
    font-size: 35px;   
    color: lavenderblush;
    font-family: Elephant;   
    }
 #flower1 { font-size: 110px;
            top: -25px;
            left: 230px;
          }
 #flower2 { font-size: 80px;
            top: 11px;
            left: 282px;
          }
 #flower3 { font-size: 80px;
            top: 81px;
            left: -15px;
          }
 #flower4 { font-size: 30px;
            top: 28px;
            left: 330px;
          }
 #flower5 { font-size: 30px;
            top: 140px;
            left: -6px;
          }

 
/*------------------animation main page-------------------*/
.animation { 
    animation-iteration-count: 500;
    animation-duration: 5s;
    animation-direction: reverse;  
  }

@keyframes myAnimation10
{ 0% { top: 245px;
    }
 100% { top: -18px;
        transform: rotate(360deg);
      }
} 
@keyframes myAnimation11
{ 0% { top: 270px;
    }
 100% { top: 8px;
        transform: rotate(360deg);
      }
} 
@keyframes myAnimation12
{ 0% { top: 300px;
    }
 100% { top: 33px;
        transform: rotate(360deg);
      }
} 
@keyframes myAnimation13
{ 0% { top: 500px;
    }
 100% { top: 62px;
        transform: rotate(360deg);
      }
}
#flower10 { font-size: 50px;
     top: -18px;
     left: 1500px;
     animation-name: myAnimation10;
   }
#flower11 { font-size: 44px;
      top: 8px;
      left: 1428px;
      animation-name: myAnimation11;
      animation-delay: 3s;
     }
#flower12 { font-size: 29px;
      top: 33px;
      left: 1347px;
      animation-name: myAnimation12;
      animation-delay: 1s;
     } 
#flower13 { font-size: 24px;
      top: 62px;
      left: 1548px;
      animation-name: myAnimation13;
     } 

/*---------------------------------------*/

@keyframes myAnimation6
{ 0% { top: 245px;
    }
 100% { top: -18px;
        transform: rotate(360deg);
      }
} 
@keyframes myAnimation7
{ 0% { top: 270px;
    }
 100% { top: 8px;
        transform: rotate(360deg);
      }
} 
@keyframes myAnimation8
{ 0% { top: 300px;
    }
 100% { top: 33px;
        transform: rotate(360deg);
      }
} 
@keyframes myAnimation9
{ 0% { top: 500px;
    }
 100% { top: 62px;
        transform: rotate(360deg);
      }
}
#flower6 { font-size: 50px;
     top: -18px;
     left: 180px;
     animation-name: myAnimation6;
   }
#flower7 { font-size: 44px;
      top: 8px;
      left: 128px;
      animation-name: myAnimation7;
      animation-delay: 3s;
     }
#flower8 { font-size: 29px;
      top: 33px;
      left: 77px;
      animation-name: myAnimation8;
      animation-delay: 1s;
     } 
#flower9 { font-size: 24px;
      top: 62px;
      left: 48px;
      animation-name: myAnimation9;
     } 

/*---------------------------------------*/

@keyframes myAnimation14
{ 0% { top: 445px;
    }
 100% { top: -1px;
        transform: rotate(360deg);
      }
} 
@keyframes myAnimation15
{ 0% { top: 150px;
    }
 100% { top: 8px;
        transform: rotate(360deg);
      }
} 
@keyframes myAnimation16
{ 0% { top: 100px;
    }
 100% { top: 33px;
        transform: rotate(360deg);
      }
} 
@keyframes myAnimation17
{ 0% { top: 170px;
    }
 100% { top: 62px;
        transform: rotate(360deg);
      }
}
#flower14 { font-size: 50px;
     top: -18px;
     left: 1280px;
     animation-name: myAnimation14;
   }
#flower15 { font-size: 44px;
      top: 8px;
      left: 1028px;
      animation-name: myAnimation15;
      animation-delay: 3s;
     }
#flower16 { font-size: 29px;
      top: 33px;
      left: 1100px;
      animation-name: myAnimation16;
      animation-delay: 1s;
     } 
#flower17 { font-size: 24px;
      top: 62px;
      left: 1248px;
      animation-name: myAnimation17;
     } 
/*---------------------------------------*/
