*{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background-color: #222;
    color: white;
}

.row {
    /*border: 2px solid red;*/
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 20px auto;
}

.row div {
    /*border: 2px solid blue;*/
}

div {
    box-sizing: border-box;
    /*min-height: 150px;*/

}

.col {
    flex-grow: 1;
    max-width: 100%;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.btn {
    background-color: #2196F3;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
  }

.menu{
    background-color: cadetblue;    
    /*height: 30px;*/
}

.menu ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    align-content: space-between;
    justify-content: space-between;
    margin: auto;
}

.menu ul li{
    padding: 15px;
    text-align: center;
    margin: auto;  
}

.menu ul li a{
    text-decoration: none;
    align-content: space-between;
    justify-content: space-between;
    color: black;
    padding: 15px;  
}

.menu ul li a:hover{
    color: white;
}

.optionsBar{
    background-color: aqua;
    margin: auto;
    border-radius: 15px;
}

.optionsBar input[type='button']{
    width:60px;
    height: 60px;
    background-color: red;
}

#optionsBar{
    margin-top: 0px;
}

#subOptionsBar{
    margin-bottom: 5px;
}

.tableRow{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    height: 50%;
}

.tableCol{
    overflow: hidden;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border: solid 1px black;
}

#imageView{
    position: relative;
    width:500px; 
    height:500px; 
    background-color: white; 
    margin: auto;
    overflow: hidden;
}

#colBtn1{
    position: absolute;
    top: 90px;
    /*left: 223px;*/
    left: 45%;
}

#colBtn2{
    position: absolute;
    top: 340px;
    left: 223px;
}

#rowBtn{
    position: absolute;
    display: block;
    top: 230px;
    left: 90px;
}



/*---------------------------------------------------*/


.designbtn{
    background-color:firebrick;
    border-style: hidden;
    border-radius: 5px;
    box-shadow: 2px 2px 4px white
}

.featuresfont{
    color: white;
    font-size: 20px
}
.styleIcone {
  font-size:25px;
    color: white;
}
button{
    width: 90px;
    height: 100%;
    margin:auto;
}
.multiredbar,.singleBar{
    position: absolute;
    top:700px;
    height: 110px;
    width: 100%;
    background-color: firebrick;
    border: 2px solid black;
    box-sizing: border-box;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

  
}


.singleBar{
  align-content: center;
    
}

.AllFilters{
    position: absolute;
    top:595px;
    display: none;
    flex-direction: row;
    box-sizing: border-box;
    margin: auto;
    height: 110px;
    width: 100%;
    

}
#none,#brightness,#grayscale,#blur,#hue-rotate,#opacity,#contrast,#sepia,#invert,#contrast-brightness,#drop-shadow,#saturate{
width: 75px;
   /* margin: 10px;*/
    flex-grow: 1;
}

#none,#brightness,#grayscale,#blur,#hue-rotate,#opacity,#contrast,#sepia,#invert,#contrast-brightness,#drop-shadow,#saturate:hover{
cursor: pointer;
}




.multiBlack{
    
     position: absolute;
    top:700px;
    height: 110px;
    width: 100%;
    background-color: #008080 ;
   /* border: 2px solid red;*/
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
     margin: 10px auto;

}
.multiBlack .designbtn{
        background-color:#008080!important;
        box-shadow: 3px 3px 2px white;


}
.multiBlack .featuresfont{
color:white;
}
.multiBlack .styleIcone {
    color:white !important;
}
.multiBlack Button{
    
    width: 110px;
}
.ratioBar{
    position: absolute;
    background-color: #E9967A;
    width: 100%;
    top:595px;
    height: 100px;
    text-align: center;
    align-content: space-between;
    border-radius: 6px;
    margin: 10px auto;
  /*  display:none;*/

    
    
    
    
    
}
.ratioBar Button{
        font-weight: bold;
        font-size:20px ;
        width: 90px;   
       text-align: center;
        background-color: #E9967A;
       color: white;
        box-shadow: 3px 3px 2px white;
    border-radius: 5px;

    

}
.backgroundColorBar {
   /* display: none;*/
    position: absolute;
    top:595px;
background-color:azure;
    height:110px;
    width: 100%;
    
}
.backgroundColorBar Button{
    width: 45px;
}
.allRange{
    position: absolute;
    width: 100%;
    top:645px;
    text-align: center;
}
.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 25px;
  background: #d3d3d3;
  opacity: 0.5;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 30px;
  background: Indigo;
  cursor: pointer;
}
.layout,.background,.space,.blurr,.ratio,.text:hover{
    cursor: pointer;
}
.allImageFilterRange{
    position: absolute;
    width: 100%;
    top:560px;
    text-align: center;
    z-index: 9999;
}

.reverseimg{
    transform: scale(-1,-1);
}
#test{
    position:relative;
}
.imgborder{
    position: absolute;
    height: 500px;
    width: 700px;
    border: 2px solid red;
    
}


.textbar{
    position: absolute;
    top:300px;
    left: 600px;
    border: 2px solid antiquewhite;
    text-align: center;
    box-shadow: 3px 3px 3px grey;
    background-color: darksalmon;
    z-index: 999999;
        
}

.output{
    position: absolute;
 /*   border: 2px solid red;*/
    box-sizing: border-box;
    top:197px;
    left:250px;
    z-index: 99999;
    text-align: center;
    
}

.scraper{
position: absolute;
 border: 2px solid black;
 top:50px;
 left: 500px;
 height: 500px;
 width:40%;
    
}
#inputScraperImg1,#inputScraperImg2,#inputScraperImg3,#inputScraperImg4{
 position: absolute;
                    
}

#inputScraperImg1:hover
{
    border:2px solid red;
    cursor: pointer;
}
#inputScraperImg2:hover
{
    border:2px solid red;
    cursor: pointer;
}#inputScraperImg3:hover
{
    border:2px solid red;
    cursor: pointer;
}#inputScraperImg4:hover
{
    border:2px solid red;
    cursor: pointer;
}

.filter,.rotateleft,.rotateright,.fill,.reverse,.vertical,.zoomin,.zoomout,.left,.right,.up,.down,.delete1,.swap:hover{
    cursor: pointer;
}



#collageImage1{
    top:50px;
}